* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: black;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 68.5%;
}

body {
    margin: 0;
    font-size: 1.2rem;
}

.marque {
    display: flex;
}